// you can change colors here
$theme-color: #096dd9;
$font-family: '-apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", "ST Heiti", sans-serif';
$font-family-heading: '"Montserrat", "sans-serif","Noto Sans SC"';
